body { background: #aec8ad; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 57px; display: flex; }
.block-uploader-0 { color: #1b628c; font-size: 19px; margin-bottom: 5px; }
.block-router-1 { color: #e84eb2; font-size: 14px; margin-bottom: 5px; }
.block-helper-2 { color: #efb87; font-size: 21px; margin-bottom: 5px; }
.block-router-3 { color: #ed2192; font-size: 14px; margin-bottom: 5px; }
.block-cache-4 { color: #d3c9c; font-size: 20px; margin-bottom: 5px; }
.block-order-5 { color: #80f430; font-size: 21px; margin-bottom: 5px; }
.block-config-6 { color: #d07222; font-size: 21px; margin-bottom: 5px; }
.block-sms-7 { color: #417d02; font-size: 18px; margin-bottom: 5px; }
.block-payment-8 { color: #ccdefe; font-size: 14px; margin-bottom: 5px; }
.block-notify-9 { color: #17e73b; font-size: 12px; margin-bottom: 5px; }